<div class="servicesPage">
  <div class="description">
    <h1>Our Services</h1>
    <h4>
      Pay your bills conveniently on Sahl, from electricity and water to
      internet and more, our app lets you settle your bills quickly and
      securely, all in one place. Download Sahl now to simplify your life and
      stay on top of your payments effortlessly.
    </h4>
  </div>
  <div class="ServicesWrapper">
    <div class="card">
      <i class="fa-solid fa-bolt"></i>
      <h2>Electricity</h2>
      <p>
        Charge your prepaid electricity card with Sahl from your mobile using
        NFC technology. You can also enjoy a hassle-free postpaid billing with a
        click of a button.
      </p>
    </div>
    <div class="card">
      <i class="fa-solid fa-fire-flame-simple"></i>
      <h2>Gas</h2>
      <p>
        Pay your Petrotrade bill on Sahl seamlessly from the comfort your home.
        Just insert your customer number and you are good to go.
      </p>
    </div>
    <div class="card">
      <i class="fa-solid fa-droplet"></i>
      <h2>Water</h2>
      <p>
        You can now recharge your prepaid water card seamlessly using NFC
        technology on Sahl. You can also conveniently pay your water bills
        hassle-free through our app.
      </p>
    </div>
    <div class="card">
      <i class="fa-solid fa-hand-holding-dollar"></i>
      <h2>Donations</h2>
      <p>
        Make a Difference Today – Donate on Sahl! You will be able to donate
        easily and securely on Sahl to to a variety of NGOs across Egypt.
      </p>
    </div>
    <div class="card">
      <i class="fa-solid fa-tv"></i>
      <h2>Tv Packages</h2>
      <p>
        Never miss a match – Pay Your beIN Package on Sahl Mobile App. Simply
        enter your card number, proceed with payment and enjoy your favorite
        content
      </p>
    </div>
    <div class="card">
      <i class="fa-solid fa-phone"></i>
      <h2>Landline</h2>
      <p>
        Settle your landline payments at your convenience with Sahl with very
        minmal steps
      </p>
    </div>
  </div>
</div>
