<div class="aboutPage">
  <div class="genAbout">
    <h1>
      Join over 20 companies revolutionizing their
      <span>financial processes</span>
    </h1>
    <p>
      Sahl is a mobile bill payment app in Egypt, offering users the convenience
      of paying bills for over 50 services including electricity, gas, water,
      and mobile. We use NFC technology to allow users to recharge prepaid cards
      anytime, anywhere. Additionally, we've launched B2B products to expand our
      audience by providing utility services and payment acceptance to other
      companies.
    </p>
  </div>
  <div class="startedAbout">
    <div><h1>How it Started?</h1></div>
    <div>
      <div class="con">
        <div>
          <h3>Established in December 2019</h3>
          <p>Sahl addresses the inconvenience of utility payments in Egypt.</p>
          <h3>Leveraging NFC technology</h3>
          <p>
            Users can recharge prepaid meters from home, aligning with Egypt's
            initiative to transition to prepaid models. This ensures meters can
            be charged in under a minute, compared to the average 20-minute wait
            at traditional outlets.
          </p>
        </div>
        <div>
          <img
            src="https://framerusercontent.com/images/0S6850ZW7wpUN8byX5fQAJUFMOY.jpg?scale-down-to=512"
          />
        </div>
      </div>
    </div>
  </div>
</div>
