<div class="downPage">
  <div>
    <h1>Download the app</h1>
  </div>
  <div class="stores">
    <a
      href="https://play.google.com/store/apps/details?id=gtpay.gtronicspay.com&hl=en&gl=US&pli=1"
      target="_blank"
      ><img
        src="https://framerusercontent.com/images/qqa1eeuaCC91zt5hlhN3vjKGSk.png"
    /></a>
    <a
      href="https://apps.apple.com/eg/app/sahl-%D8%B3%D9%87%D9%84-payments-made-easy/id1482139568"
      target="_blank"
    >
      <img
        src="https://framerusercontent.com/images/rx5bp7RpAgSX7IVKCK7m2u8Spg.png"
    /></a>

    <a href="https://appgallery.huawei.com/#/app/C102462091" target="_blank">
      <img
        src="https://framerusercontent.com/images/wDeqExLBqiXsg2WNkkwwI4VATU.png"
    /></a>
  </div>
</div>
