<div class="home">
  <section class="welcomeSec">
    <div class="continar">
      <div class="mainText">
        <h1>CHANGE THE WAY YOU MONEY</h1>
        <!-- <p>
          Sahl is the first mobile app that allows you to charge your
          electricity card directly from<br />
          your phone in less than a minute by using the NFC technology.
        </p> -->
        <p>
          You can pay for all your services in one place with any payment method
          you prefer<br />
          Visa, MasterCard, Meeza, Wallets. Payment trends can be tracked <br />
          by accessing and reviewing your old receipts
        </p>
        <button>Download the app</button>
      </div>
      <div>
        <img
          src="https://framerusercontent.com/images/H130YKdDzvBVTIdeaxzUZ1yeH0.png?scale-down-to=2048"
        />
      </div>
    </div>
  </section>
  <section class="partners">
    <div class="text">
      <h1>Our<span> Partners</span></h1>
      <h2>Join 40+ million customers worldwide and 11+ million in the Egypt</h2>
    </div>
    <div class="logos">
      <div class="slider">
        <img
          src="https://framerusercontent.com/images/WqTuInSJFtrZmlQ7HuGz10aFViY.png?scale-down-to=512"
        />
        <img
          src="https://framerusercontent.com/images/YCI7VF5pCZ525S9WNT9a0GXeU.png"
        />
        <img
          src="https://framerusercontent.com/images/qS0mvjsw3EHmyqVRo65LFdTinXk.png?scale-down-to=512"
        />
        <img
          src="https://framerusercontent.com/images/GwQHzjNDcThrVvSKugSiBor1YPU.png"
        />
        <img
          src="https://framerusercontent.com/images/xuB398aqpByvSx1LRij7TMbbBO8.png?scale-down-to=512"
        />
        <img
          src="https://framerusercontent.com/images/lU1CH8fI8ePqNsiMsewgrIJfA.png?scale-down-to=512"
        />
        <img
          src="https://framerusercontent.com/images/XWezJ50Ybee55FgUKysys0cU.png"
        />
      </div>
      <div class="slider">
        <img
          src="https://framerusercontent.com/images/WqTuInSJFtrZmlQ7HuGz10aFViY.png?scale-down-to=512"
        />
        <img
          src="https://framerusercontent.com/images/YCI7VF5pCZ525S9WNT9a0GXeU.png"
        />
        <img
          src="https://framerusercontent.com/images/qS0mvjsw3EHmyqVRo65LFdTinXk.png?scale-down-to=512"
        />
        <img
          src="https://framerusercontent.com/images/GwQHzjNDcThrVvSKugSiBor1YPU.png"
        />
        <img
          src="https://framerusercontent.com/images/xuB398aqpByvSx1LRij7TMbbBO8.png?scale-down-to=512"
        />
        <img
          src="https://framerusercontent.com/images/lU1CH8fI8ePqNsiMsewgrIJfA.png?scale-down-to=512"
        />
        <img
          src="https://framerusercontent.com/images/XWezJ50Ybee55FgUKysys0cU.png"
        />
      </div>
    </div>
  </section>
</div>
