$gradient-color: linear-gradient(
  279deg,
  rgb(64, 85, 255) 0%,
  rgb(105, 122, 255) 100%
);

section {
  width: 100%;
  height: 100%;
  height: 92vh;
}

.welcomeSec {
  background-image: url("/assets/imgs/2f242895-e89a-44d3-9f8a-fb78b32d80c5.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.continar {
  display: flex;
  justify-content: space-between;
  padding: 90px 120px;
}

.continar img {
  width: 290px;
  height: 600px;
}

.continar .mainText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.continar h1 {
  color: white;
  font-size: 55px;
  font-weight: 820;
}

.continar p {
  color: white;
  padding-top: 25px;
  font-size: 19px;
  font-weight: 580;
}

.mainText button {
  background-color: #191c1f;

  color: white;
  padding: 10px 24px;
  line-height: 1.375rem;
  font-size: 15px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;

  &:hover {
    opacity: 0.85;
  }
}
// -------- partners section --------

.partners .text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.partners h1 {
  padding: 60px 20px 10px;
  font-size: 40px;
}

h1 span {
  background: $gradient-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.partners h2 {
  font-size: 23px;
  font-weight: 600;
  padding-bottom: 10px;
  color: #3a3d41;
}

@keyframes slider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(0-100%);
  }
}

/**/
.logos {
  overflow: hidden;
  padding: 80px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: slider 21s infinite linear;
}

.logos-slide img {
  height: 70px;
  margin: 0 55px;
}
// -------- services section --------
.services {
  height: fit-content;
}
.services .secOne {
  height: 80vh;

  background-color: rgb(99, 117, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.services .text {
  color: white;
  font-size: 20px;
}
.services text h1 {
  font-size: 22px;
}
.services .text h1 span {
  background: linear-gradient(
    279deg,
    rgb(188, 196, 255) 0%,
    rgb(255, 255, 255) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.services .text button {
  background-color: #191c1f;

  color: white;
  padding: 10px 24px;
  line-height: 1.375rem;
  font-size: 15px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;

  &:hover {
    opacity: 0.85;
  }
}
.services .secOne .img img {
  margin-top: 42px;
  max-width: 360px;
}
.services .img img {
  padding: 0;
  margin: 0;
  align-items: center;
  height: 72vh;
}

// // --------sec 2 -------
.services .secTwo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 70px;
  background-color: white;
}
.services .secTwo .text {
  color: rgb(0, 0, 0);
}
.services .secTwo .text h1 span {
  background: $gradient-color;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.services .secTwo .img img {
  padding-right: 80px;
}
// -------- About -----
#aboutSec {
  padding: 65px;
}
#aboutSec .text {
  text-align: center;
  max-width: 80ch;
  line-height: 1.7;
}
#aboutSec .text h1 {
  padding-bottom: 29px;
}
#aboutSec .text p {
  font-size: 21px;
  font-weight: 600;
}
#aboutSec .text p span {
  background: $gradient-color;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;

  background-color: #191c1f;
  border-bottom: rgba(255, 255, 255, 0.849) 0.2px solid;
  border-top: rgb(255, 255, 255, 0.849) 0.2px solid;

  color: white;
  padding: 7px 17px;
  line-height: 1.375rem;
  font-size: 15px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000;

  &:hover {
    opacity: 0.85;
    bottom: 35px;
  }
}

#backToTop {
  z-index: 150;
}
// *************RESPONSIVE***********
@media (width<1085px) {
  .continar img {
    display: none;
  }
}

@media (width<1000px) {
  .continar img {
    display: none;
  }
  .continar {
    padding: 50px 51px;
  }

  .continar .mainText h1 {
    // font-size: 45px;
    line-height: 1;
  }
}

@media (width<765px) {
  .services .secOne,
  .services .secTwo {
    display: block;

    text-align: center;
    height: fit-content;
  }
  .services .text {
    padding-top: 25px;
  }
}

@media (width<690px) {
  .partners h2 {
    font-size: 20px;
  }

  .logos:before,
  .logos:after {
    width: 100px;
  }
  .services .secTwo {
    padding: 0;
  }
  .services .secTwo .text {
    padding: 26px;
  }
  .services .secTwo .text h1 {
    padding: 15px 40px;
    line-height: 1.3;
  }
}

@media (width<609px) {
  .continar .mainText p {
    line-height: 1.4;
  }

  .partners {
    height: 82vh;
  }
  .partners h2 {
    text-align: center;
    padding: 15px;
    font-size: 20px;
  }
  .services .text {
    font-size: 17.5px;
  }
  .services .img img {
    height: 52vh;
  }

  .services .secTwo .img img {
    padding-right: 0;
  }

  #aboutSec {
    padding: 40px 20px;
  }
}
