<div class="header">
  <nav>
    <div class="navLogo">
      <img src="/assets/imgs/smallLogo.png" alt="RePay logo" />
      <a href="#">Sahl</a>
    </div>
    <ul class="navLinks" [class.active]="isMenuOpen">
      <li class="link">
        <a href="#" (click)="closeMenu()">Home</a>
      </li>
      <li class="link">
        <a href="#" (click)="closeMenu()">Services</a>
      </li>
      <li class="link">
        <a href="#" (click)="closeMenu()">About Us</a>
      </li>
      <li class="link">
        <a routerLink="/contact" (click)="closeMenu()">Contact Us</a>
      </li>
    </ul>
    <div class="sign" [class.active]="isMenuOpen">
      <button id="login">Login</button>
      <button>Sign Up</button>
    </div>

    <div class="collapse" (click)="toggleMenu()" [class.toggle]="isMenuOpen">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
</div>
