<div class="header">
  <nav>
    <div class="navLogo">
      <img src="/assets/imgs/smallLogo.png" alt="RePay logo" />
      <a routerLink="/home">Sahl</a>
    </div>
    <ul class="navLinks" [class.active]="isMenuOpen">
      <li class="link">
        <a routerLink="/home" (click)="closeMenu()">Home</a>
      </li>
      <li class="link">
        <a routerLink="/services" (click)="closeMenu()">Services</a>
      </li>
      <li class="link">
        <a routerLink="/about" (click)="closeMenu()">About Us</a>
      </li>
      <li class="link">
        <a routerLink="/contact" (click)="closeMenu()">Contact Us</a>
      </li>
    </ul>
    <div class="sign" [class.active]="isMenuOpen">
      <a
        style="text-decoration: none; color: white"
        routerLink="/download-app"
        (click)="closeMenu()"
        ><button>Download the app</button></a
      >
    </div>

    <div class="collapse" (click)="toggleMenu()" [class.toggle]="isMenuOpen">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
</div>
